/*variables Font */
/* Theme Color */
/**/
/**/
/*rgb(4,9,30)*/
/*Load mixin */
/*********** font ***********/
/*********** radius ************/
/************** Shadow ************/
/******** Button *********/
/******** Transition *********/
/*******summeryDetailsTime Style*********/
/*inheritance Font */
/*Load Font */
@font-face {
  font-family: "fontawesome";
  src: url("../fonts/fontawesome/fontawesome.eot");
  src: url("../fonts/fontawesome/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome.woff") format("woff"), url("../fonts/fontawesome/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome/fontawesome.svg#fontawesome            ") format("svg");
  font-weight: 400;
  font-style: normal; }
/*common styles */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  scroll-behavior: smooth; }

body {
  font-size: 0.875rem; }

/* =14px */
/* Headings */
h1 {
  font-size: 1.5rem; }

/* 24px */
h2 {
  font-size: 1.375rem; }

/* 22px */
h3 {
  font-size: 1.25rem; }

/* 20px */
h4 {
  font-size: 1.125rem; }

/* 18px */
h5 {
  font-size: 1rem; }

/* 16px */
h6 {
  font-size: 0.875rem; }

/* 14px */
h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .8em; }

p {
  font-size: 0.875rem; }

/* =14px */
body {
  margin: 0;
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
  background-color: #070707; }

a {
  outline: 0;
  color: #265d94;
  text-decoration: none;
  background-color: transparent; }

a img {
  border: 0px;
  text-decoration: none; }

.container {
  max-width: 1503px;
  width: 100%; }

.heading {
  max-width: 300px;
  margin: 0 auto;
  text-align: center; }
  .heading h2 {
    font-size: 54px;
    font-weight: 900;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #0581a1;
    position: relative;
    font-family: Myriad Pro; }
    .heading h2 span {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.12;
      font-family: "Avenir";
      font-size: 100px;
      font-weight: 900;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #ffffff;
      font-family: Myriad Pro;
      transform: translate(-50%, -50%); }

/*header styles */
/*Custom styles */
/*Custom styles */
#tobBanner {
  background-image: url(../../../images/topBanner1.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  max-height: 967px;
  box-shadow: 0 0 20px 0px #014a58;
  border-radius: 0px;
  background-attachment: fixed;
  overflow: hidden; }
  #tobBanner .menus {
    position: fixed;
    width: 100%;
    /* max-width: 1503px; */
    width: 100%;
    z-index: 1;
    left: 0; }
  #tobBanner .bannerText {
    position: absolute;
    top: 350px;
    left: 0;
    height: 200px;
    z-index: 2;
    width: 500px; }
    #tobBanner .bannerText .text {
      line-height: 73px; }
      #tobBanner .bannerText .text p {
        margin: 0;
        font-size: 70px;
        font-weight: 800; }
        #tobBanner .bannerText .text p .word {
          position: absolute;
          opacity: 0; }
      #tobBanner .bannerText .text .letter {
        display: inline-block;
        position: relative;
        float: left;
        transform: translateZ(25px);
        transform-origin: 50% 50% 25px; }
      #tobBanner .bannerText .text .letter.out {
        transform: rotateX(90deg);
        transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      #tobBanner .bannerText .text .letter.behind {
        transform: rotateX(-90deg); }
      #tobBanner .bannerText .text .letter.in {
        transform: rotateX(0deg);
        transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      #tobBanner .bannerText .text .wisteria {
        color: #8e44ad; }
      #tobBanner .bannerText .text .belize {
        color: #2980b9; }
      #tobBanner .bannerText .text .pomegranate {
        color: #c0392b; }
      #tobBanner .bannerText .text .green {
        color: #16a085; }
      #tobBanner .bannerText .text .midnight {
        color: #2c3e50; }
    #tobBanner .bannerText .subTitleLine {
      margin-top: 6em; }
      #tobBanner .bannerText .subTitleLine p {
        font-size: 28px;
        color: #ffffff; }
    #tobBanner .bannerText .socialIcons {
      margin-top: 21px; }
      #tobBanner .bannerText .socialIcons a {
        margin: 14px; }
  #tobBanner .selfPhoto {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 150px; }

/*About Me Style*/
#aboutMe {
  min-height: 967px;
  display: flex;
  align-items: center; }
  #aboutMe .description p {
    color: #ada6a6;
    font-size: 21px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-stretch: normal;
    line-height: 41px;
    letter-spacing: 2.25px;
    text-align: justify;
    font-weight: 300; }
    #aboutMe .description p span {
      color: #0581a1; }
  #aboutMe .skills {
    position: relative; }
    #aboutMe .skills:after {
      content: 'SKILLS';
      position: absolute;
      COLOR: #f8326e;
      top: -87px;
      right: 0;
      writing-mode: vertical-rl;
      text-orientation: unset;
      font-size: 130px;
      /* font-weight: bolder; */
      letter-spacing: 55px;
      z-index: -1;
      opacity: 0.4;
      font-family: 'Monoton', cursive; }
    #aboutMe .skills .card {
      background-color: transparent; }
      #aboutMe .skills .card .card-body i {
        font-size: 50px;
        color: #0581a1; }
      #aboutMe .skills .card .card-body .card-title {
        font-size: 30px;
        color: #ada6a6;
        font-weight: 500; }
      #aboutMe .skills .card .card-body .card-text {
        color: #ada6a6;
        font-size: 20px;
        font-weight: 300; }

/*About Me Style Close*/
/********************My WOrk **********************/
#myWork {
  margin-bottom: 80px;
  min-height: 967px;
  display: flex;
  align-items: center; }
  #myWork .projectLinks {
    /* Demo purposes only */ }
    #myWork .projectLinks figure.snip1205 {
      position: relative;
      float: left;
      overflow: hidden;
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      background: #000000;
      text-align: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
    #myWork .projectLinks figure.snip1205 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out; }
    #myWork .projectLinks figure.snip1205 img {
      max-width: 100%;
      vertical-align: top;
      width: 100%; }
    #myWork .projectLinks figure.snip1205 i {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      font-size: 34px;
      color: #000000;
      width: 60px;
      height: 60px;
      line-height: 60px;
      background: #ffffff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      -webkit-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
      transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045); }
    #myWork .projectLinks figure.snip1205 a {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute; }
    #myWork .projectLinks figure.snip1205.blue {
      background-color: #2472a4; }
    #myWork .projectLinks figure.snip1205.blue i {
      color: #20638f; }
    #myWork .projectLinks figure.snip1205.red {
      background-color: #ab3326; }
    #myWork .projectLinks figure.snip1205.red i {
      color: #962d22; }
    #myWork .projectLinks figure.snip1205.yellow {
      background-color: #e08e0b; }
    #myWork .projectLinks figure.snip1205.yellow i {
      color: #c87f0a; }
    #myWork .projectLinks figure.snip1205.green {
      background-color: #229955; }
    #myWork .projectLinks figure.snip1205.green i {
      color: #1e8449; }
    #myWork .projectLinks figure.snip1205.orange {
      background-color: #d67118; }
    #myWork .projectLinks figure.snip1205.orange i {
      color: #bf6516; }
    #myWork .projectLinks figure.snip1205.navy {
      background-color: #2b3c4e; }
    #myWork .projectLinks figure.snip1205.navy i {
      color: #222f3d; }
    #myWork .projectLinks figure.snip1205:hover img,
    #myWork .projectLinks figure.snip1205.hover img {
      opacity: 0.3;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    #myWork .projectLinks figure.snip1205:hover i,
    #myWork .projectLinks figure.snip1205.hover i {
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
      transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

/********************My WOrk  Style close**********************/
/********************resume **********************/
#resume {
  padding: 80px 0;
  background: #0e0e0e; }
  #resume .resumeDownld p {
    font-size: 66px;
    font-weight: 800;
    text-transform: capitalize; }
  #resume .resumeDownld .btnDownload {
    position: relative;
    max-width: 320px; }
    #resume .resumeDownld .btnDownload button.downBtn {
      border: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-56%, -55%);
      width: 164px;
      height: 164px;
      border-radius: 50%;
      font-size: 21px;
      font-weight: 700;
      background: #0581a1;
      color: #fff;
      box-shadow: 0 0 16px 6px #000;
      transition: 1s; }
      #resume .resumeDownld .btnDownload button.downBtn:hover {
        box-shadow: 0 0 16px #1b8ca9; }
      #resume .resumeDownld .btnDownload button.downBtn:focus {
        outline: 0; }
    #resume .resumeDownld .btnDownload img {
      max-width: 325px;
      width: 100%; }

/********************resume  Style close**********************/
#contactMe {
  max-height: 931px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  background-color: #0e0e0e; }
  #contactMe .contactDetails h2 {
    font-weight: 800; }
  #contactMe .contactDetails .addressD p, #contactMe .contactDetails .addressD a {
    font-size: 16px;
    color: #343a40; }
  #contactMe .contactDetails ul li a {
    color: #343a40;
    transition: 0.3s;
    text-transform: capitalize; }
    #contactMe .contactDetails ul li a:hover {
      padding-left: 10px; }

/*footer styles */
/*themes styles */
/*responsiveness style*/
@media screen and (min-width: 2000px) {
  #tobBanner {
    box-shadow: 0 0 20px 0px #014a5800;
    border-radius: 0px;
    max-width: 100%; } }
@media screen and (max-width: 1200px) and (min-width: 992px) {
  #aboutMe .skills .card .card-body img {
    width: 40px;
    height: 40px; } }
@media screen and (max-width: 1024px) {
  #resume .resumeDownld p {
    font-size: 30px; } }
@media screen and (max-width: 767px) {
  div#collapsibleNavbar {
    background: black;
    padding-left: 8px; } }
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  #tobBanner .bannerText {
    position: absolute;
    top: 155px;
    left: 0;
    height: 200px;
    z-index: 2;
    width: 500px;
    /* z-index: -1; */ }

  #tobBanner .selfPhoto {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 29px; } }
@media screen and (max-width: 575px) {
  #tobBanner .bannerText {
    background: #0000008c;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0 7px; }

  #tobBanner .bannerText .text p {
    font-size: 43px; }

  #tobBanner .bannerText .text {
    line-height: 50px; }

  #tobBanner .bannerText .subTitleLine p {
    font-size: 19px; }

  #tobBanner .bannerText .subTitleLine {
    margin-top: 3em; }

  .heading h2 span {
    font-size: 69px; } }
@media screen and (max-width: 365px) {
  .heading h2 span {
    font-size: 58px; } }
/*Dashboard style*/

/*# sourceMappingURL=app.css.map */
