$primaryFontFamily:'Open Sans';
$secondaryFontFamily:'Arial';
$fontawesome:'fontawesome';
 


/* Theme Color */    
$primaryColor:#0581a1;/**/
$secondaryColor:#260244;/**/
$whiteColor:#ffffff;
$grayColor:#f1f1f1;/*rgb(4,9,30)*/
$blackColor:#000000;
$lightBlack:#070707;



$bodyBgColor:$lightBlack;








